# to run agora bridge as a service:
#
# 1. create a dedicated user, I use 'agora'. If you use a different user/path, adjust below.
# 2. copy or symlink this to ~/.config/systemd/user/agora-bridge.service in that user:
#   $ mkdir -p ~/.config/systemd/user
#   $ cp agora-bridge.service ~/.config/systemd/user/agora-bridge.service
# 3. start: systemctl --user start agora-bridge
# 4. enable (so it automatically starts on boot): systemctl --user enable agora-bridge
# 
# thereafter you can check process logs with: journalctl -u agora-bridge.service (you may need to add the user to group systemd-journal in Debian-based systems.

[Unit]
Description=Agora Bridge, see https://github.com/flancian/agora-bridge.

[Service]
WorkingDirectory=/home/agora/agora-bridge
ExecStart=/home/agora/agora-bridge/run-prod.sh
Restart=always
RestartSec=3

[Install]
WantedBy=default.target
